body {
    background-color: rgb(11, 233, 181);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: grab;
}

#code-image{

    border: 25px solid rgb(149, 142, 144);
    height: 50%;
    width: 50%;
}


.header-centered{
text-align: center;
}