body {
    background-color: rgb(74, 119, 218);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: grab;
}

h1 {
    color: rgb(253, 199, 21);
  }

#code-image{

    border: 10px solid rgb(149, 142, 144);
    height: 50%;
    width: 50%;
}


.header-centered{
text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .myImage {
    float: left;
    height: 75px;
    width: 235px;
    font-family: Veranda;
  }
  .heading {
    float:right;
  }